<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @event_detail, partial: "card", as: :event_detail %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "event_details/event_detail_comments_details" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "event_details/event_detail_attendees" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "event_details/event_detail_host_details" %>
  </div>
</div>
  <!-- Show Page Customization end -->
