<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      EventsAssignment
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/attendees" class="dropdown-item">
              Attendees
            </a>
            <a href="/attendance_statuses" class="dropdown-item">
              Attendance Statuses
            </a>
            <a href="/comments_details" class="dropdown-item">
              Comments Details
            </a>
            <a href="/host_details" class="dropdown-item">
              Host Details
            </a>
            <a href="/event_details" class="dropdown-item">
              Event Details
            </a>
            <a href="/user_details" class="dropdown-item">
              User Details
            </a>
          </div>
        </li>
      </ul>
</nav>
