<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Comments Details
  </div>

  <ul class="list-group list-group-flush">
    <% @user_detail.comments_details.each do |comments_detail| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/comments_details/<%= comments_detail.id %>">
          <%= comments_detail %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
