<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Events

    <a data-toggle="collapse" href="#user_detail_events_new_form">
      Add event detail
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user_detail.events.each do |event_detail| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to event_detail, event_detail %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to event_detail, method: :delete, data: { confirm: "Do you really want to delete this event_detail" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_detail_events_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "user_details/user_detail_events_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
