<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user_detail, partial: "card", as: :user_detail %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_details/user_detail_events" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_details/user_detail_comments_details" %>
  </div>
</div>
  <!-- Show Page Customization end -->
